#title {
    margin-top: 100px;
    margin-left: 100px;
}

body {
    font-family: sans-serif;
    background-color: #b3b3b3;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }

.playlist-name {
    margin: 2px auto;
    justify-content: center;
}

#playlist-description {
    margin: 2px auto;
    justify-content: center;
}

.playlist-add {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playlist-button {
    margin: 2px auto;
    display: flex;
    justify-content: center;
}

.playlist-card {
    max-width: 60%;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    overflow-y: scroll;
    max-height: 400px;
  }

  .playlist-card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -5px, 0px);
  }

  .playlist-track {
    padding-left: 20px;
    background-color: #fff;
  }

.playlist-track p {
      padding-left: 20px;
  }