.upper_centered {
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
}

.right_upper_centered {
    position: fixed;
    top: 10%;
    left: 97%;
    margin-top: -50px;
    margin-left: -100px;
}

.rounded_box2 {
    border-radius: 25px;
    background: #63D75F;
    padding: 20px;
    height: 100px;
}

.inside_rounded_box2 {
    border-radius: 25px;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    height: 75px;
}

html {
    background-color: #3E3E3E;
}

#songs_container {
    justify-content: center;
    margin-top: 15%;
    color: black;
    width: 1200px;
    overflow-x: hidden;
    font-family: Inter,
        -apple-system,
        system-ui,
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
}

#title {
    display:flex;
    justify-content: center;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
}

.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #63D75F, rgb(72, 161, 45));
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
}

#anchors {
    color: rgb(13, 220, 235);
}

#tracks_holder {
    background-color: initial;
    background-image: linear-gradient(-180deg, #63D75F, rgb(72, 161, 45));
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: black;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1200px;
    z-index: 9;
    border: 0;
    text-align: center;
    position: static;
    justify-content: center;
    font-family: Inter,
    -apple-system,
    system-ui,
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}