.upper_centered {
    position: fixed;
    top: 10%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}

.mid_centered {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}

.top_listing{

    background: #63d75f;
    padding: 20px;
    width: 1000px;
    border-radius: 25px;
}


.centered {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -100px;
}

.right_upper_centered {
    position: fixed;
    top: 10%;
    left: 80%;
    margin-top: -50px;
    margin-left: -100px;
}

#type-options{
    width: 170px;
    height: 50px;
    font-family: Inter,
    -apple-system,
    system-ui,
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;

}

.rounded_box2 {
    border-radius: 25px;
    background: #63d75f;
    padding: 20px;
    width: 330px;
    height: 100px;
}

.inside_rounded_box2 {
    border-radius: 25px;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 306px;
    height: 75px;
}

html {
    background-color: #3e3e3e;
}

.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #63d75f, rgb(72, 161, 45));
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial, sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
}

.header_title {
    font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial, sans-serif;
    padding-left: 60px;
}

option{
        font-family: Inter,
        -apple-system,
        system-ui,
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: medium;
}

#top_container {
    position: static;
    justify-content: center;
    margin-top: 15%;
    margin-left: 28%;
    color: black;
    overflow-y: scroll;
    height:1000px;
    width: 1200px;
    overflow-x: hidden;
    font-family: Inter,
        -apple-system,
        system-ui,
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
}


.name_title{
        margin-left: 30%;
}

.center_image{
        margin-left: 15%;
}

#green {
    color: greenyellow;
}

#white {
    color: white;
}

#anchors {
    color: rgb(13, 220, 235);
}